In [33]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


results = pd.read_csv("./csv/survey_results_public.csv", index_col="ResponseId")
resultsSchema = pd.read_csv("./csv/survey_results_schema.csv")

languages = "LanguageHaveWorkedWith"
salary = "ConvertedCompYearly"
results.rename(columns={languages: "Languages", salary: "Salary"}, inplace=True)
## Cuando hay NaN
results.dropna(subset=["Salary", "Languages"], inplace=True)
# Filtra Datos de Country, Salary, Languages y los ordena por Salary
results = results.loc[:,["Country", "Salary", "Languages"]].sort_values(by="Salary")
# Filtra que el salario sea entre 10 mil y 3 millones
filtro = (results["Salary"] >= 10000) & (results["Salary"] <= 3e6)
results = results[filtro]

# Obtener lista de lenguajes usados
lg = results["Languages"]
allLanguages = lg[21403].split(";")
for row in lg:
    for lang in row.split(";"):
        allLanguages.append(lang)
# Crea otra lista con valores Ãºnicos
allLanguages = list(set(allLanguages))
# Los ordena
allLanguages.sort()

# Crea array de zeros para salary
meanSalary = pd.DataFrame(data=np.zeros(len(allLanguages)), index=allLanguages, columns=["Salary"])
# Calcula salario medio para cada lenguaje
# Solucion C++ contains
import re
for lang in allLanguages:
    try:
        mask = results["Languages"].str.contains(re.escape(lang))
        average = results.loc[mask, "Salary"].mean()
        meanSalary.loc[lang, "Salary"] = average
    except Exception:
        print(lang)

meanSalary

                    Salary
APL          147330.880597
Assembly     111985.221695
Bash/Shell   116755.145359
C            100840.767323
C#            98953.326001
C++          104139.577648
COBOL        134686.328502
Clojure      149861.223496
Crystal      125361.105023
Dart          80742.929093
Delphi        77759.257592
Elixir       129942.022587
Erlang       132206.755906
F#           135618.123711
Go           125236.591514
Groovy       118531.742704
HTML/CSS      97836.415102
Haskell      109752.014993
Java          99218.009623
JavaScript    98625.065375
Julia        131770.738149
Kotlin       101356.790222
LISP         130563.076132
Matlab        91592.848802
Node.js       99154.184918
Objective-C  114108.942642
PHP           80123.677824
Perl         123808.308736
PowerShell   113160.929872
Python       107538.957182
R            122888.861562
Ruby         124589.088235
Rust         136477.915453
SQL          100094.103916
Scala        138582.538462
Swift        109284.740972
TypeScript   104524.593914
VBA           93616.800297